<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="PayEye_PayEye::general" title="PayEye" sortOrder="10"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="PayEye_PayEye::actions" title="PayEye Actions" sortOrder="20" />
            </resource>
        </resources>
    </acl>
</config>
